on:
  push:
    branches:
      - master

jobs:
  build-and-publish-docker:
    name: Build and publish notebook docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push testing Docker image with exafmm
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: bempp/cl-notebook:latest
          target: lab
