name: Release new version of Bempp-cl

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*'

jobs:
  update-website:
    name: Update bempp.com
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@master
    - name: Install PyGitHub
      run: pip3 install PyGitHub
    - name: Update website
      run: python3 .github/scripts/update_website.py ${{ secrets.bemppbot_github_token }}

  build-and-publish-docker:
    name: Build and publish testing environment docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get tag name
        id: tag_name
        run: |
          echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push testing Docker image with exafmm
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: bempp/cl-notebook:${{ steps.tag_name.outputs.SOURCE_TAG }}
          target: lab

  build-and-publish-pypi:
    name: Build and publish to PyPI
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@master
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Build a binary wheel and a source tarball
      run: |
        pip install wheel
        python setup.py bdist_wheel
        python setup.py sdist --formats=gztar
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        password: ${{ secrets.pypi_password }}

  tweet:
    name: Tweet about latest version
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get tag name
        id: tag_name
        run: |
          echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
      - name: Install twitter api
        run: pip3 install twitter
      - name: Tweet
        run: python3 .github/scripts/tweet.py ${{ steps.tag_name.outputs.SOURCE_TAG }} ${{ secrets.twitter1 }} ${{ secrets.twitter2 }} ${{ secrets.twitter3 }} ${{ secrets.twitter4 }}
