name: Run tests with FEniCSx releases

on:
  push:
    branches:
      - "**"
  schedule:
    - cron: "0 7 * * 1"

jobs:
  build-and-publish-docker-fenicsx-release:
    name: Build testing docker image with FEniCSx release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        fenics-version: [ "v0.6.0", "main" ]
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push testing Docker image with FEniCSx ${{ matrix.fenics-version }}
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: bempp/cl-dev-env-with-dolfinx:main-fenicsx-${{ matrix.fenics-version }}
          target: bempp-dev-env-with-dolfinx
          build-args: |
            FENICSX_BASIX_TAG=${{ matrix.fenics-version }}
            FENICSX_FFCX_TAG=${{ matrix.fenics-version }}
            FENICSX_DOLFINX_TAG=${{ matrix.fenics-version }}

  build-and-test-with-fenicsx-release:
    name: Build Bempp and run tests with FEniCSx release
    needs:
      - build-and-publish-docker-fenicsx-release
    strategy:
      matrix:
        fenics-version: [ "v0.6.0", "main" ]
    runs-on: ubuntu-latest
    container: bempp/cl-dev-env-with-dolfinx:main-fenicsx-${{ matrix.fenics-version }}
    steps:
      - uses: actions/checkout@v2
      - run: python3 setup.py install
        name: Install Bempp
      - run: python3 -m pytest -n4 --durations=50 test/unit --has-dolfin 0 --has-dolfinx 1 --has-exafmm 1
        name: Run Bempp unit tests
